{% extends "base.html" %}

{% block title %}빨강파랑{% endblock %}

{% block content %}
    <!-- 메인 컨텐츠 영역 -->
    <main>
        <!-- 뉴스 섹션 -->
        <section>
            <legend>최신 뉴스</legend>
            <p>여기에 최신 뉴스가 표시됩니다.</p> 
        </section>
        <section>
            <legend>근처 투표소 찾기</legend>
            <p>여기에 지도가 표시됩니다.</p>
        </section>

        <!-- 키워드 섹션 -->
        <article>
            <legend>급상승 키워드</legend>
            <p>여기에 급상승 키워드 리스트가 들어갑니다.</p>
        </article>           

    </main>
{% endblock %}